@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

:root {
    --clr-pale-beige: #F4F0E6;
    --clr-blue-primary: #4169e1;
    --clr-blue-lighter: #25f;
    --clr-red-primary: red;

    --space-gap: 2px;
    --space-rythm: 5px;
    --space-medium: 10px;
    --space-large: 20px;

    --size-x-large: 2.1rem;
    --size-large: 1.8rem;
    --size-medium: 1.4rem;
    --size-default: 1.2rem;

    --border-heading: var(--space-rythm) solid var(--clr-blue-lighter);
    --border-sub: var(--space-gap) solid var(--clr-blue-lighter);
}

body {
    margin: var(--space-large);
    font-family: sans-serif;
}

body.home {
    background-color: black;
}

.page {
    margin: 0;
}

.site-main header {
    padding-bottom: var(--space-large);
}

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: var(--size-default);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    padding: var(--space-medium) 0;
    margin: 0;
    clear: both;
}

h1 {
    margin: 0;
    font-size: var(--size-x-large);
    border-bottom: var(--border-heading);
    padding-bottom: var(--space-rythm);
}

h2 {
    font-size: var(--size-large)
}

.wp-block-cover h2,
.wp-block-cover h3 {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: var(--size-medium);
}

.wp-block-cover h2 {
    --wp--preset--font-size--large: var(--size-large);
}

.wp-block-cover h3 {
    --wp--preset--font-size--large: var(--size-medium);
}

.site-title {
    display: none;
}

.site-description {
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

/** Layout */
.site-description .title-vertical {
    background-color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 30pt;
    font-weight: 600;
    left: 56px;
    top: 20px;
    border-bottom: 10px solid red;
    text-orientation: upright;
    writing-mode: vertical-lr;
    position: absolute;
    padding-bottom: 14px;
    cursor: pointer;
}

.site-description .title-horizontal {
    font-size: 30pt;
    position: absolute;
    top: 62px;
    left: 42px;
    background-color: white;
    padding: 0;
    font-family: 'Urbanist';
    font-weight: 600;
    letter-spacing: 6px;
    cursor: pointer;
}

.home .site-description .title-horizontal,
.home .site-description .title-vertical {
    background-color: black;
    color: white;
}

.site-main,
.site-info {
    background-color: var(--clr-pale-beige);
    margin-left: 139px;
    margin-top: 130px;
    position: relative;
    padding: var(--space-large);
    margin-right: var(--space-large);
    transition: margin-left 0.5s ease-in-out;
}

.home .site-main,
.home .site-info {
    background-color: black;
    padding: 0;
}

#colophon span.site-info {
    padding: calc(var(--space-large)*2) var(--space-large);
    display: block;
    font-size: 0.8rem;
    background-color: white;
}

.home #colophon span.site-info {
    background-color: black;
    padding-left: 0;
}

.wp-block-cover__inner-container mark {
    padding: var(--space-large);
    background-color: white;
}

.entry-content blockquote {
    padding: 0 var(--space-large) var(--space-large) var(--space-large);
    margin: var(--space-large) 0 var(--space-large) var(--space-large);
    background-color: white;
    float: right;
    max-width: 50%;
    font-weight: 100;
    font-size: 1rem;
}

.wp-block-column blockquote {
    margin: 0;
    max-width: unset;
}

.entry-content cite {
    font-size: 0.9rem;
}

/** Navigation */
.nav-menu .menu-item a,
.nav-menu .menu-item a:visited {
    color: black;
    display: inline-block;
    margin-bottom: var(--space-medium);
    padding-bottom: var(--space-rythm);
}

.home .nav-menu .menu-item a {
    color: white;
}

/* Hover link color - Dark Blue */
.nav-menu .menu-item a:hover {
    color: var(--clr-blue-lighter);
    border-bottom: var(--border-sub);
    margin-bottom: calc(var(--space-medium) - var(--space-gap));
}

.main-navigation {
    position: absolute;
    left: 140px;
    top: 125px;
    width: auto;
}

.menu-toggle {
    left: -113px;
    top: -100px;
    color: var(--clr-blue-lighter);
    display: block;
    position: absolute;
    cursor: pointer;
}

.menu-toggle .menu-toggle-stroke {
    border-bottom: 3px solid;
    width: 24px;
    height: 7px;
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.menu-toggle.active .menu-toggle-stroke-top {
    transform: translate(3px, 6px) rotate(45deg);
}

.menu-toggle.active .menu-toggle-stroke-middle {
    opacity: 0;
}

.menu-toggle.active .menu-toggle-stroke-bottom {
    transform: translate(0px, -8px) rotate(-45deg)
}

.main-navigation.toggled ul {
    display: block;
}

.home .nav-menu {
    color: white;
    background-color: black;
}

.nav-is-open {
    margin-left: 410px;
}

/** Homepage Layout */
.video-homepage-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-gap);
}

.video-homepage-item {
    position: relative;
    margin: 0;
    z-index: 1;
}

.video-homepage-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* To maintain aspect ratio */
    object-fit: cover;
    z-index: 10;
}

.video-homepage-media {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.5s ease-in
}

.video-homepage-metadata {
    display: none;
}

.video-homepage-caption h3 {
    border-bottom: var(--border-sub);
    margin-bottom: calc(var(--space-gap) + var(--space-medium));
}

.video-homepage-description {
    font-weight: 100;
}

.video-homepage-item:hover .video-homepage-metadata {
    display: block;
    position: absolute;
    color: #fff;
    background-color: black;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    padding: 0 var(--space-medium) var(--space-medium) var(--space-medium);
    overflow: hidden;
    font-size: 1rem;
}

.video-homepage-loader {
    position: absolute;
    height: 100px;
    padding: var(--space-large);
    /* Center the circle */
    /* Animate the circle */
    animation: rotateCircle 5s linear infinite;
    transform-origin: center;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/** Used in addition to :hover to toggle metadata 
visibility when hover is on the metadata itself */
.is-hovered {
    z-index: 10;
}

.is-dimmed {
    opacity: 0.3;
    z-index: 0;
}

.hide {
    display: none;
}

/** Gallery */


/** Parallax **/
.wp-block-cover {
    min-height: 520px;
}

.wp-block-cover .wp-block-cover__image-background {
    height: 120%;
    top: -80px;
}

.post-19 .entry-content p>strong {
    font-weight: normal;
}

.post-24 .wp-block-cover .wp-block-cover__image-background {
    height: 150%;
    top: var(--space-large);
}

.post-6 .wp-block-cover .wp-block-cover__image-background {
    height: 150%;
}

.entry-content {
    margin: 0;
    padding-bottom: var(--space-large);
}

.entry-content ul {
    list-style: none;
}

.entry-content p+ul {
    margin-top: -1.5em;
}

/** Decorative circles */
.hero-decoration-container {
    position: absolute;
    top: 11px;
    right: 100px;
    margin: 0 var(--space-large) 0 0;
    cursor: pointer;
}

.hero-decoration-circle {
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}

.home .hero-decoration-circle {
    border: 1px solid white;
}

.hero-decoration-outer-circle {
    width: 100px;
    height: 100px;
}

.hero-decoration-circle-a {
    width: 90px;
    height: 90px;
    /* border-color: red; */
}

.hero-decoration-circle-b {
    width: 80px;
    height: 80px;
    /* border-color: blue; */

}

.hero-decoration-circle-c {
    width: 70px;
    height: 70px;
}


/** Media queries */
@media screen and (min-width: 37.5em) {
    .main-navigation ul {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .entry-content blockquote {
        max-width: unset;
        width: 100%;
        margin: var(--space-large) 0;
    }

    .wp-block-column blockquote {
        margin: 0;
        width: 100%;
    }

    /* .video-homepage-collection {
        grid-template-columns: repeat(2, 1fr);
    } */

    .post-19 .entry-content p>strong {
        font-weight: normal;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: var(--size-x-large);
    }

    h2 {
        font-size: 1.7rem;
    }

    .site-main {
        margin: 0;
        padding: 0 var(--space-large);
    }

    .site-description {
        padding: 2.5rem 0 0 var(--space-large);
    }

    .site-description .title-vertical,
    .site-description .title-horizontal {
        display: block;
        position: relative;
        border: none;
        text-orientation: unset;
        writing-mode: unset;
        top: unset;
        left: unset;
        font-size: 24pt;
    }

    .site-description .title-vertical {
        padding: 0
    }

    #colophon span.site-info {
        margin: 0;
    }

    .nav-is-open {
        margin-left: 300px;
        min-width: 300px;
    }

    .main-navigation,
    .menu-toggle {
        left: var(--space-large);
        top: unset;
    }

    .menu-toggle {
        left: -2px;
        top: -160px;
        color: var(--clr-red-primary);
        font-size: var(--size-x-large);
    }

    .hero-decoration-container {
        top: 40px;
    }

    .video-homepage-collection {
        grid-template-columns: 1fr;
    }

    .wp-block-cover {
        min-height: 300px;
        margin: 0 -20px;
    }

    .wp-block-cover .wp-block-cover__image-background {
        height: 150%;
        top: -100px;
    }

    .post-19 .entry-content p>strong {
        font-weight: bolder;
    }

    .post-19 .wp-block-cover .wp-block-cover__image-background {
        top: -80px;
    }

    .post-24 .wp-block-cover .wp-block-cover__image-background {
        height: 110%;
        top: 0px;
    }
}